// To get started, press Ctrl+Space to bring up the completion menu and view the available nodes.

// You can also use the buttons in the sidebar to perform actions on nodes.
// Actions currently available include:

// * Enabling / disabling the node
// * Adding the bus to a bus
// * Removing the node
// * Connecting ADC channels

// For more help, browse the DeviceTree documentation at https://docs.zephyrproject.org/latest/guides/dts/index.html
// You can also visit the nRF DeviceTree extension documentation at https://nrfconnect.github.io/vscode-nrf-connect/devicetree/nrfdevicetree.html
/ {
    aliases {
        heartbeat = &heartbeat_led;
        buzzer = &buzzer_led;
        ivdrip = &ivdrip_led;
        alarm = &alarm_led;
        error = &error_led;
        button0 = &sleep;
        button1 = &freq_up;
        button2 = &freq_down;
        button3 = &reset;
    };

    leds {
        compatible = "gpio-leds";

        heartbeat_led: heartbeat-led {
            gpios = <&gpio0 13 GPIO_ACTIVE_LOW>;
            label = "Heartbeat LED";
        };

        buzzer_led: buzzer-led {
            gpios = <&gpio0 14 GPIO_ACTIVE_LOW>;
            label = "Buzzer LED";
        };

        ivdrip_led: ivdrip-led {
            gpios = <&gpio0 15 GPIO_ACTIVE_LOW>;
            label = "IV Drip LED";
        };

        alarm_led: alarm-led {
            gpios = <&gpio0 16 GPIO_ACTIVE_LOW>;
            label = "Alarm LED";
        };

        error_led: error-led {
            gpios = <&gpio1 3 GPIO_ACTIVE_LOW>;
            label = "Error LED";
        };
    };

    buttons {
        compatible = "gpio-keys";

        sleep: sleep- {
            label = "button0";
            gpios = <&gpio0 11 GPIO_ACTIVE_LOW>;
        };

        freq_up: freq-up {
            label = "button1";
            gpios = <&gpio0 12 GPIO_ACTIVE_LOW>;
        };

        freq_down: freq-down{
            label = "button2";
            gpios = <&gpio0 24 GPIO_ACTIVE_LOW>;
        };

        reset: reset- {
            label = "button3";
            gpios = <&gpio0 25 GPIO_ACTIVE_LOW>;
        };
    };
};